@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a;            /* text-slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}
